<div id="appTemplete" class="absolute w-full h-full" >
    <div id="top-menu" 
        class="bg-white text-sm font-medium  text-gray-500 border-b flex flex-row ">
        <ul class="flex ">
            <li id="home" class="mr-2">
                <a href="/" class="inline-block p-4  border-b-2  hover:text-blue-700 ">Главная</a>
            </li>
            <li routerLinkActive="active" class="mr-2">
                <button id="standarts"
                    class="inline-block  p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-700 ">
                    Нормативы
                </button>
                <div  id="standarts-menu"
                    class=" absolute z-10 left-26 invisible w-auto flex flex-col text-sm border-t-0 bg-white border border-gray-400 rounded-b-md shadow-md ">
                    <div class="p-2 ">
                        <ul class="space-y-4">
                            <li>
                                <button id="turning" class=" hover:text-blue-700 flex justify-between w-full ">
                                    Токарные <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>

                            </li>
                            <div id="turning-menu"
                                class="invisible absolute z-11 -top-4 left-39 w-72  flex flex-col text-sm bg-white border border-gray-400 rounded-lg shadow-md ">
                                <div class="p-2 ">
                                    <ul class="space-y-4">
                                        <li>
                                            <a routerLink="small-turning" class="hover:text-blue-700 ">
                                                Токарные мелкие (универсальные)
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#" class="hover:text-blue-700 ">
                                                Токарные крупные (универсальные)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="hover:text-blue-700 ">
                                                Токарные мелкие (ЧПУ)
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="hover:text-blue-700 ">
                                                Токарные крупные (ЧПУ)
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Шлифовальные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Хонинговальные
                                </a>
                            </li>
                            <li>
                                <button id="carousel" class=" hover:text-blue-700 flex justify-between w-full ">
                                    Карусельные <svg arcarouselia-hidden="true" class="w-5 h-5" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </li>
                            <div id="carousel-menu"
                                class="invisible absolute z-11 top-23 left-39 w-60  flex flex-col text-sm bg-white border border-gray-400 rounded-lg shadow-md ">
                                <div class="p-2 ">
                                    <ul class="space-y-4">
                                        <li>
                                            <a href="#" class="hover:text-blue-700 ">
                                                Карусельные (универсальные)
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#" class="hover:text-blue-700 ">
                                                Карусельные (ЧПУ)
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <li>
                                <button id="milling" class=" hover:text-blue-700 flex justify-between w-full ">
                                    Фрезерные <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </li>
                            <div id="milling-menu"
                                class="invisible absolute z-11 top-32 left-39 w-60 flex flex-col text-sm bg-white border border-gray-400 rounded-lg shadow-md ">
                                <div class="p-2 ">
                                    <ul class="space-y-4">
                                        <li>
                                            <a href="#" class="hover:text-blue-700 ">
                                                Фрезерные (универсальные)
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#" class="hover:text-blue-700 ">
                                                Фрезерные (ЧПУ)
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <li>
                                <button id="boring" class=" hover:text-blue-700 flex justify-between w-full ">
                                    Расточные <svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </button>
                            </li>
                            <div id="boring-menu"
                                class="invisible absolute z-11 top-42 left-39 w-60 flex flex-col text-sm bg-white border border-gray-400 rounded-lg shadow-md ">
                                <div class="p-2 ">
                                    <ul class="space-y-4">
                                        <li>
                                            <a href="#" class="hover:text-blue-700 ">
                                                Расточные (универсальные)
                                            </a>

                                        </li>
                                        <li>
                                            <a href="#" class="hover:text-blue-700 ">
                                                Расточные (ЧПУ)
                                            </a>
                                        </li>
                                        <li>
                                            <button id="third" class=" hover:text-blue-700 flex justify-between w-full ">
                                                Third<svg aria-hidden="true" class="w-5 h-5" fill="currentColor"
                                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                            </button>
                                        </li>
                                        <div id="third-menu"
                                            class="invisible absolute z-11 top-14 left-60 w-60 flex flex-col text-sm bg-white border border-gray-400 rounded-lg shadow-md ">
                                            <div class="p-2 ">
                                                <ul class="space-y-4">
                                                    <li>
                                                        <a href="#" class="hover:text-blue-700 ">
                                                            Рас (универсальные)
                                                        </a>
            
                                                    </li>
                                                    <li>
                                                        <a href="#" class="hover:text-blue-700 ">
                                                            Раст (ЧПУ)
                                                        </a>
                                                    </li>
            
                                                </ul>
                                            </div>
                                        </div>

                                    </ul>
                                </div>
                            </div>
                            
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Глубокосверлильные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Сверлильные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Долбежные
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Пилорнезные
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </li>
            <li class="mr-2">
                <button id="tp"
                    class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-700 ">
                    Техпроцесс
                </button>
                <div id="tp-menu"
                    class=" absolute invisible z-10 left-54 w-auto flex flex-col text-sm border-t-0 bg-white border border-gray-400 rounded-b-md shadow-md ">
                    <div class="p-2 ">
                        <ul class="space-y-4">
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Создать
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Открыть
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Сохранить
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Сохранить как
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </li>

            <li class="mr-2">
                <button id="auto"
                    class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-blue-700 ">
                    Автоматизация
                </button>
                <div id="auto-menu"
                    class="invisible absolute z-10 left-84 w-auto flex flex-col text-sm border-t-0 bg-white border border-gray-400 rounded-b-md shadow-md ">
                    <div class="p-2 ">
                        <ul class="space-y-4">
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Функция 1
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Функция 2
                                </a>
                            </li>
                            <li>
                                <a href="#" class="hover:text-blue-700 ">
                                    Функция 3
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </li>

        </ul>

    </div>

<router-outlet></router-outlet>
</div>
